@using Business.Entities
@using Business.Logic
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "InscribirMateria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-2">Inscripción a cursado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Registros</li>
    <li class="breadcrumb-item active">Inscripción a cursado</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fas fa-book me-1"></i> Inscribirse a cursado
    </div>
    <div class="card-body">
        <p>Completá el formulario para inscribirte a cursar la materia que desees. Si el curso que deseas no aparece es porque se quedó sin cupo</p>
        <form action="@Url.Action("Inscribir","Registro")" method="post">
            <div class="form-group">
                <label>Elegir Materia</label>
                <select class="form-select" name="IDMateria" id="IdMateria" onchange="cargaComision()" required>
                    @{
                        IEnumerable<Materia> materia = new MateriaLogic().GetAll();
                        Usuario user = new UsuarioLogic().GetOne((int)Context.Session.GetInt32("userId"));
                        Persona persona = new PersonaLogic().GetOne(user.IdPersona);
                        materia = materia.Where(m => m.IDPlan == persona.IDPLan);
                                    foreach (Materia m in materia)
                        {
                            <option value="@m.ID">@m.Descripcion</option>
                    }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Elegir Comisión</label>
                <select class="form-select" name="IDComision" id="IdComision" required disabled></select>
            </div>          
            <button type="submit" class="btn btn-primary">Inscribirse</button>
            <a class="btn btn-warning" href="@Url.Action("Index","Home")">Volver</a>

        </form>
    </div>
</div>

@section scripts {
    <script>
        function cargaComision() {
            let value = $("#IdMateria option:selected").val();
            document.getElementById('IdComision').removeAttribute('disabled');

            $.ajax({
                url: "@Url.Action("GetComisiones","Inscripcion")",
                type: "GET",
                dataType: "json",
                data: {
                    id_materia: value
                },
                success: function (response) {

                    $("#IdComision").empty();
                    $.each(response, function (i, element) {
                        $("#IdComision").append(
                            $("<option>").attr({ "value": element.id }).text(element.descripcion)
                        )
                    })
                }
            })
        }

    </script>

}