@using Business.Entities
@using Business.Logic
@{
    ViewData["Title"] = "InscribirMateria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-2">Inscripción a cursado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Registros</li>
    <li class="breadcrumb-item active">Inscripción a cursado</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fas fa-book me-1"></i> Inscribirse a cursado
    </div>
    <div class="card-body">
        <p>Completá el formulario para inscribirte a cursar la materia que desees. Si el curso que deseas no aparece es porque se quedó sin cupo</p>
        <form action="@Url.Action("Inscribir","Registro")" method="post">
            <div class="form-group">
                <label>Elegir Materia</label>
                <select class="form-select" name="IDMateria" id="IdMateria" onchange="cargaCurso()" required>
                    @{
                        List<Materia> materias = new MateriaLogic().GetAll();
                        foreach (Materia mat in materias)
                        {
                            <option value="@mat.ID">@mat.Descripcion</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group">               
                <label>Elegi el curso</label>
                <select class="form-select" name="IDCurso" id="IdCurso" required disabled>
                    @{
                        List<Curso> cursos = new CursoLogic().GetAll();
                        //cursos = (List<Curso>)cursos.Where(c => c.IDMateria == 1);

                        foreach (Curso cur in cursos)
                        {
                            <option value="@cur.ID">@cur.Descripcion</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" name="Nombre" autocomplete="off" required />
            </div>
            <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control" name="Apellido" autocomplete="off" required />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="EMail" autocomplete="off" required />
            </div>
            <div class="form-check">
                <label>Habilitado</label>
                <input type="checkbox" id="chkHabilitado" class="form-check-input" name="Habilitado" />
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
            <a class="btn btn-warning" href="@Url.Action("Index","Home")">Volver</a>

        </form>
    </div>
</div>

@section scripts {
    <script>
        function cargaCurso() {
            var e = document.getElementById("IdMateria");
        }
        
        
    </script>





}