@using Business.Entities
@using Business.Logic
@{
    ViewData["Title"] = "InscribirMateria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-2">Inscripción a cursado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Registros</li>
    <li class="breadcrumb-item active">Inscripción a cursado</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fas fa-book me-1"></i> Inscribirse a cursado
    </div>
    <div class="card-body">
        <p>Completá el formulario para inscribirte a cursar la materia que desees. Si el curso que deseas no aparece es porque se quedó sin cupo</p>
        <form action="@Url.Action("Inscribir","Registro")" method="post">
            <div class="form-group">
                <label>Especialidad</label>
                <select class="form-select" name="IDEspecialidad" id="IdEspecialidad" onchange="cargaPlan()" required>
                    @{
                        List<Especialidad> especialidades = new EspecialidadLogic().GetAll();
                        foreach (Especialidad esp in especialidades)
                        {
                            <option value="@esp.ID">@esp.Descripcion</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Elegir Plan</label>
                <select class="form-select" name="IDPlan" id="IdPlan" onchange="cargaMateria()" required disabled></select>
            </div>
            <div class="form-group">
                <label>Elegir Materia</label>
                <select class="form-select" name="IDMateria" id="IdMateria" onchange="cargaCurso()" required disabled></select>
            </div>
            <div class="form-group">
                <label>Elegi el curso</label>
                <select class="form-select" name="IDCurso" id="IdCurso" required disabled></select>
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" name="Nombre" autocomplete="off" required />
            </div>
            <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control" name="Apellido" autocomplete="off" required />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="EMail" autocomplete="off" required />
            </div>
            <div class="form-check">
                <label>Habilitado</label>
                <input type="checkbox" id="chkHabilitado" class="form-check-input" name="Habilitado" />
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
            <a class="btn btn-warning" href="@Url.Action("Index","Home")">Volver</a>

        </form>
    </div>
</div>

@section scripts {
    <script>
        function cargaPlan() {
            let value = $("#IdEspecialidad option:selected").val();
            document.getElementById('IdPlan').removeAttribute('disabled');

            $.ajax({
                url: "@Url.Action("GetPlanes","Inscripcion")",
                type: "GET",
                dataType: "json",
                data: {
                    id_especialidad: value
                },
                success: function (response) {

                    $("#IdPlan").empty();
                    $.each(response, function (i, element) {
                        $("#IdPlan").append(
                            $("<option>").attr({ "value": element.id }).text(element.descripcion)
                        )
                    })
                }
            })
        }

        function cargaMateria() {
            let value = $("#IdPlan option:selected").val();
            document.getElementById('IdMateria').removeAttribute('disabled');

            $.ajax({
                url: "@Url.Action("GetMaterias","Inscripcion")",
                type: "GET",
                dataType: "json",
                data: {
                    id_plan: value
                },
                success: function (response) {

                    $("#IdMateria").empty();
                    $.each(response, function (i, element) {
                        $("#IdMateria").append(
                            $("<option>").attr({ "value": element.id }).text(element.descripcion)
                        )
                    })
                }
            })
        }


    </script>





}