@model List<Business.Entities.Materia>
@{
    ViewData["Title"] = "Materias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-2">Materias</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Entidades</li>
    <li class="breadcrumb-item active">Materias</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-book me-1"></i> Lista de materias
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <a type="button" class="btn btn-success" href="@Url.Action("Registrar","Materia")">Crear Nueva</a>
            </div>
        </div>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripción</th>
                        <th>Horas Semanales</th>
                        <th>Horas Totales</th>
                        <th>Plan</th>
                        <th style="width:150px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Business.Entities.Materia mat in Model)
                    {
                        <tr>
                            <td>@mat.ID</td>
                            <td>@mat.Descripcion.</td>
                            <td>@mat.HSSemanales</td>
                            <td>@mat.HSTotales</td>
                            @{Business.Entities.Plan plan = new Business.Logic.PlanLogic().GetOne(mat.IDPlan);}
                            <td>@plan.Descripcion</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="@Url.Action("Editar","Materia", new { id = mat.ID })">Editar</a>
                                <a class="btn btn-danger btn-sm" href="@Url.Action("Eliminar","Materia", new { id = mat.ID })">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



