@model List<Business.Entities.Usuario>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-2">Usuarios</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Entidades</li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <a type="button" class="btn btn-success" href="@Url.Action("Registrar","Usuario")">Crear Nuevo</a>
            </div>
        </div>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Habilitado</th>
                        <th style="width:150px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Business.Entities.Usuario usr in Model)
	                {
                    <tr>
                        <td>@usr.ID</td>
                        <td>@usr.NombreUsuario</td>
                        <td>@usr.Nombre</td>
                        <td>@usr.Apellido</td>
                        <td>@usr.EMail</td>
                        @if (usr.Habilitado)
                            {
                                <td>Si</td>
                            }
                         else
                            {
                                <td>No</td>
                            }                     
                        <td>
                            <a class="btn btn-primary btn-sm">Editar</a>
                            <a class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
	                }
                </tbody>
            </table>
        </div>
    </div>
</div>


    
       