@using Business.Entities
@using Business.Logic
@model Comision
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="mt-2">Comisiones</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Entidades</li>
    <li class="breadcrumb-item">Comisiones</li>
    <li class="breadcrumb-item active">Editar</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-chalkboard me-1"></i> Editar Comisión
    </div>
    <div class="card-body">
        <form action="@Url.Action("Editar","Comision")" method="post">
            <input type="hidden" class="form-control" name="ID" value="@Html.DisplayFor(c => c.ID)" />
            <div class="form-group">
                <label>Año</label>
                <input type="number" class="form-control" name="AnioDescripcion" value="@Html.DisplayTextFor(c => c.AnioEspecialidad)" autocomplete="off" required />
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <input type="text" class="form-control" name="Descripcion" value="@Html.DisplayTextFor(c => c.Descripcion)" autocomplete="off" required />
            </div>
            @{
                List<Plan> planes = new PlanLogic().GetAll();
            }
            <div class="form-group">
                <label>Plan</label>
                <select class="form-select" name="IDPlan" aria-label="Default select example" required>
                    @{
                        foreach (Plan p in planes)
                        {
                            if (Model.IDPlan == p.ID)
                            {
                                <option value="@p.ID" selected>@p.Descripcion</option>
                            }
                            else
                            {
                                <option value="@p.ID">@p.Descripcion</option>
                            }
                        }
                    }
                </select>
            </div>

            <button type="submit" onclick="editar()" class="btn btn-primary">Editar</button>
            <a class="btn btn-warning" href="@Url.Action("Comisiones","Home")">Volver</a>
        </form>
    </div>
</div>



